
.home-div a{
    text-decoration: none;
    color:#171D1C;
}
.home-div{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1100px;
    min-width: 780px;
    padding: 0 24px 48px;
    display: flex;
    justify-content: space-between;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width:216px;
    padding: 24px 20px 40px;
    background-color: white;
    border-radius: 16px;
}

.home-item-img{
    width: 108px;
}

.home-item-title{
    margin:40px 0 40px;
    font-size: 22px;
}
.home-item-content{
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
}

#to-do-list-img{
    position: relative;
    left: 6px;
}
#time-table-img{
    position: relative;
    left: 4px;
}