
.login-contents ul{
    display: block;
    position: relative;
    width: 464px;
    margin: 64px auto;
    padding-left: 0;
    list-style: none;
}

.login-contents ul li{
    padding-bottom: 24px;
    position: relative;
}

.login-content-label{
    text-align: center;
    display: inline-block;
    width: 160px;
    font-size: 20px;
}
.login-content-input{
    display: inline-block;
    width: 300px;
}


.login-content-input input[type="text"],
.login-content-input input[type="password"]{
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid rgba(0,0,0,0.3);
}


.login-content-input input[type="text"]{
    font-family: Jua;
}
.login-content-input input[type="password"]::placeholder{
    font-family: Jua;
}

.login-content-input input[type="text"]:focus,
.login-content-input input[type="password"]:focus{
    outline: none;
    border-bottom: 2px solid rgba(0,0,0,0.8);
}
.login-contents .submit-button{
    font-family: Jua;
    font-size: 18px;
    position: absolute;
    right: 0;
    /*bottom: -24px;*/
    width: 96px;
    height: 36px;
    background-color: #24BDF9;
    border-radius: 8px;
    color: white;
    border: none;
    -webkit-text-stroke: 1px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}