
.modal-right .class-search-window {
    position: absolute;
    max-height: 120px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 3px 3px 2px 0 #eeeeee;
    top: 36px;
    z-index: 10;
    padding : 6px 4px;
    box-sizing: border-box;
}

.class-search-window::-webkit-scrollbar {
    width: 8px;  /* 세로축 스크롤바 폭 너비 */
}
.class-search-window::-webkit-scrollbar-thumb {

    background: #24BDF9; /* 스크롤바 막대 색상 */
    border: 2px solid #24BDF9; /* 스크롤바 막대 테두리 설정  */
    border-radius: 6px;
}

.class-search-item{
    background-color: rgba(0,0,0,0);
    width: 100%;
    font-family: Jua;
    font-size: 20px;
    height: 28px;
    border: none;
    cursor: pointer;
}
.class-search-close{
    text-align: right;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: Jua;
    position: absolute;
    top: 36px;
    right: 56px;
    z-index: 50;
}



